<div class="row">
  <div class="col-md-12">
    <form>
      <div class="form-group">
        <label>Search</label>
        <input type="text" class="form-control" >
      </div>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <button ng-click="main.test('toto')"> crypt</button>
  </div>
</div>

<div class="row"  >
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tbody>
        <tr ng-repeat="site in main.sites">
          <th>{{site.title}}</th>
          <td>{{site.username}}  <button class="btn btn-default btn-xs" clipboard text="site.username"><i class="fa fa-clipboard"></i></button></td>
          <td>**** <button class="btn btn-default btn-xs" clipboard text="site.password"><i class="fa fa-clipboard"></i></button></td>
          <td>action</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
