<div class="row">
  <div class="col-md-12">
    <a href="#/passwords/new" class="btn btn-primary btn-lg">Add password</a>
  </div>
  <hr class="col-md-12">
  <div class="col-md-12 list-view-container">
    <div pf-list-view class="example-list-view" id="exampleListView" config="config" items="items" action-buttons="actionButtons" enable-button-for-item-fn="enableButtonForItemFn" menu-actions="menuActions" update-menu-action-for-item-fn="updateMenuActionForItemFn">
      <div class="list-view-pf-description">
        <div class="list-group-item-heading">
          {{item.data.name}}
        </div>
        <div class="list-group-item-text">
          <span>{{item.data.username}} <button class="btn btn-default" clipboard text="item.data.username"><i class="fa fa-clipboard"></i></button></span>
        </div>
      </div>
      <div class="list-view-pf-additional-info">
        <div class="list-view-pf-additional-info-item">
           <span>****** <button class="btn btn-default" clipboard text="item.data.password"><i class="fa fa-clipboard"></i></button></span>
        </div>
      </div>
    </div>
  </div>
</div>
